body{
    margin: 0;
}


.buy_now_button{
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
}
/*slider*/

.carousel-item{
    padding-left: 40px;
}
.carousel-item h1, h6{
    margin: 25px 0px;
}
.slider{
    margin-bottom: 150px;
    
}

.carousel-indicators li{
   
   height: 10px;
   width: 10px;
   border-style: none;
   border-radius: 5px;
    background-color: dimgrey ;
}
.carousel-indicators .active {
    width: 30px;
    height: 10px;
    background-color:rgb(241, 185, 80);
}

/* smartphone */

.header{
    font-size: 35px;
    font-weight: bold;
}

.see {
    color: orange;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
.see:hover{
    color: orange;
    font-weight: bold;
    text-decoration: none;

}